.mail{
  width: 100%;
  width: auto;  
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media only screen and (max-width: 800px){
  .mail{
    width: 100%;
    padding: 50px 0 ;
  }

  .mailTitle, .mailDesc{
    padding: 0 10px;
    margin: 5px 0;
  }
}


@media only screen and (max-width: 600px){
  .mailInputContainer>input{
    width: auto;
  }
}