.fp {
  width: 100%;
  max-width: 1024px;
  height: auto;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fpItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.fpImg{
  width: 100%;
  max-width: 328px;
  min-width: 328px;
  height: 250px;
  object-fit: cover;
}

.fpName{
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-weight: 300;
}

.fpPrice{
  font-weight: 500;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}



@media only screen and (max-width: 480px){
  .fpImg{
    max-width: 188.8px;
    min-width: 188.8px;
    height: 130px;
  }
}